---
import ProjectComponent from '../components/ProjectComponent';
import Layout from '../layouts/Layout.astro'
import ContactPage from '../components/ContactPage'
import WorkCard from '../components/WorkCard';

import Home from '../components/Home'
---
<style>


</style>
<Layout>

    <Home client:visible/>
    <WorkCard client:visible/>

        <div id="project" class="">
            <div class="md:flex md:flex-row md:items-center lg:h-[30vh] md:h-[15vh] h-[10vh]">
                <h1 class="font-Right lg:text-[5vw] md:text-[5vw] text-[8vw] lg:w-1/2     ml-[4vw] ">PROJECTS.</h1>
                <h1 class="font-Inter font-semibold md:text-[1vw] text-[5vw] w-1/2  hidden lg:block  mx-[5vw]  ">Following section desicribes selected projects and you can view other projects also at <a class="underline decoration-indigo-700 underline-offset-4" href="https://github.com/Tripathiaman2511?tab=repositories" target="_blank">Github Repository</a>.</h1>
            </div>
            <ProjectComponent client:visible/>
        </div>

    <div id="contact" class="mt-[4vh]">
            <ContactPage client:visible/>
    </div>
  

    
</Layout>