---
import Navbar from "../components/Navbar";
---
<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	

	<head>
		<link rel="icon"  href="/favico.svg">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Oswald&family=Russo+One&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Inter&family=Righteous&family=Squada+One&display=swap" rel="stylesheet">
		
		<meta name="google-site-verification" content="iBb-mCyn03Va6FTLF-3fU3SncOH7L1vYDy5k0PBoXkM" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Aman Tripathi</title>
</head>
<body>
	<!--Navbar -->
	<Navbar client:visible/>
	<main>
		<slot/>
	</main>
	<!-- <Footer/> -->
</body>
</html>